/* Common */
*{
    margin:0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;;
}

nav{
    height: 100px;
}

/* Utility */

.container{
    width: 55vw;
    height: 575px;
    margin: 0 auto;
    padding: 15px;
    position: relative;
}

.container::after{
    content: "";
    display: table;
    clear: both;
}

.actions{
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 1rem;
    font-weight: 500;
}

.button{
    border-radius: 25px;
    padding: 10px 25px;
    cursor: pointer;

}

.arrow{
    font-weight: 600;
}


/*#region Header*/
#site-header{
    background-image: url("../img/jumbo.png");
    width: 100vw;
    background-size: cover;
}

.logo{
    width: 20%;
    height: 40px;
    float: left;
}

.logo>img{
    height: 40px; 
}

.menu{
    width: 60%;
    line-height: 40px;
    float: left;
    text-align: center;
}

.actions:hover{
    text-decoration: underline;
}

nav .button{
   float: right;
   height: 40px;
}

header .title{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 680px;
}

header h1{
    color:white;
    font-weight: 700;
    padding: 40px;
    font-size: 3.1rem;
}

.title>.caption{
    color: white;
    padding-bottom: 20px;
    line-height: 30px;
    font-size: 1rem;
    font-weight: 400;
}

.title>.button{
    font-size: 1rem;
    font-weight: 500;
    border: none;
}

.title>.button:last-child{
    background-color: black;
    color: white;
    margin-left: 15px;
}
/*#endregion Header*/
 
/*#region Main */

.col-60{
    width: 60%;
    height: 100%;
    float: left;
    padding: 50px 0;
}

.col-40{
    width: 40%;
    height: 100%;
    float: left;
    position: relative;
}

.text-area{
    position: absolute;
    top:45%;
    left: 45%;
    transform: translate(-50%, -50%);
}
.text-area>h2{
    font-size: 2.1rem;
    font-weight: 700;
    padding-bottom: 10px;
    line-height: 40px;
}

.text-area>.caption{
    font-size: 14px;
}

/* .bg-grey{
    background-image: url("../img/wave.svg");
    background-color: #ededed;
    background-blend-mode: overlay;
    background-repeat: repeat-y;
    background-position: bottom;

} */

/*#endregion Main */




