/* Common */
*{
    margin:0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;;
}

nav{
    height: 100px;
}

/* Utility */

.container{
    width: 55vw;
    height: 575px;
    margin: 0 auto;
    padding: 15px;
    position: relative;
}

.container::after{
    content: "";
    display: table;
    clear: both;
}

.actions{
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 1rem;
    font-weight: 500;
}

.button{
    border-radius: 25px;
    padding: 10px 25px;
}

header .button{
    cursor: pointer;
}

.arrow{
    font-weight: 600;
}


/*#region Header*/
#site-header{
    background-image: url("../img/jumbo.png");
    width: 100vw;
    background-size: cover;
}

.logo{
    width: 20%;
    height: 40px;
    float: left;
}

.logo>img{
    height: 40px; 
}

.menu{
    width: 60%;
    line-height: 40px;
    float: left;
    text-align: center;
}

.menu>.actions:hover{
    text-decoration: underline;
}

nav .button{
   float: right;
   height: 40px;
}

header .title{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 680px;
}

header h1{
    color:white;
    font-weight: 700;
    padding: 40px;
    font-size: 3.1rem;
}

.title>.caption{
    color: white;
    padding-bottom: 20px;
    line-height: 30px;
    font-size: 1rem;
    font-weight: 400;
}

.title>.button{
    font-size: 1rem;
    font-weight: 500;
    border: none;
}

.title>.button:last-child{
    background-color: black;
    color: white;
    margin-left: 15px;
}
/*#endregion Header*/
 
/*#region Main */

.col-60{
    width: 60%;
    height: 100%;
    float: left;
    padding: 50px 0;
}

.col-40{
    width: 40%;
    height: 100%;
    float: left;
    position: relative;
}

.col-40>.text-area{
    position: absolute;
    top:45%;
    left: 45%;
    transform: translate(-50%, -50%);
}
h2{
    font-size: 2.1rem;
    font-weight: 700;
    padding-bottom: 10px;
    line-height: 40px;
}

.caption{
    font-size: 14px;
}


.bg-grey-img{
    background-image: url("../img/wave.svg");
    background-blend-mode: color;
    background-color: #fffbfbdb;
    height: 100px;
    width: 100%;
}

.bg-grey-img-inverse{
    background-image: url("../img/wave.svg");
    filter: invert(1);
    background-color: #292626;
    height: 100px;
    width: 100%;
}

.bg-grey{
    background-color: #d9d9d9;
}

.container>.single-col{
    text-align: center;
    padding: 50px;
}

.single-col>h2{
    padding-bottom: 30px;
}

.single-col>.question{
    background-image: url("../img/stars.svg");
    background-size: contain;
    height: 50px;
    background-position: center;
    margin: 50px 0;
    padding-top: 25px;
    font-weight: 700;
}

.actions>.button{
    background-color: rgb(100 148 237 / 55%);
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.body:last-child{
    height: 1000px;
}

/*#endregion Main */

/* #region Footer*/

footer{
    background-color: black;
    position: relative;
    height: 575px;
}

.col-left{
    width: 32%;
    float: left;
    height: 70%;
    margin-top: 50px;
}

.col-right{
    width: 17%;
    float: left;
    height: 70%;
    margin-top: 50px;
    padding-top: 20px;
}

footer .title{
    color: cornflowerblue;
}

.italy{
    margin:20px 0;
}
.italy>img{
    width:30px;
    vertical-align: middle;
}

.leng{
    background-color: black;
    color: white;
    border: none;
}

.symbols img{
    width: 50px;
    height: 50px;
    padding: 10px;
    cursor: pointer;
}

#fb{
    border-radius: 50%;
}

ul{
    list-style: none;
    padding-left: 0;
}

li{
    color: white;
    margin-top: 15px;
}

.final{
    height: 100px;
    width: 100%;
    position: absolute;
    bottom: 0;
    border-top: 1px solid #d3d3d345;
    padding: 15px;
}

.final>.button{
    background-color: cornflowerblue;
    color: white;
    position:absolute;
    right:0;
    cursor: pointer;
}


/* #endregion Footer */


